<div class="avn_route_list_entry {{addClass}}" data-waypoint-idx="{{idx}}">
    <button class="avn_route_btnDelete avn_smallButton"></button>
    <div class="avn_route_listname">{{name}}</div>
    <div class="avn_route_listinfo">{{latlon}},{{course}}&#176;/{{distance}}nm</div>
</div>